*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: rgb(1, 185, 1);
    background-image: url('https://s3.amazonaws.com/media.thecrimson.com/photos/2019/11/18/215525_1341073.gif'); /* Caminho do seu GIF */
    background-size: 48%;              
    background-position: center;
    background-attachment: none;                         
    height: 100%; 
    backdrop-filter: blur(2.0px);  
    /* overflow: hidden; some com a barra de rolagem */
}

#geral{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

h1{
  font-size: 40px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultado{
  display:flex;
  flex-direction: column;
} 

.npc{
  

}